@import url(https://fonts.googleapis.com/css?family=Ek+Mukta);
/* line 5, ../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/_base.scss */
body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 13, ../sass/_base.scss */
footer {
  padding-top: 170px;
  min-height: 200px;
  background-color: #002456;
  color: #f3e3c6;
  text-align: center;
}

/* line 22, ../sass/_base.scss */
.content {
  text-align: center;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  color: #002456;
  font-family: 'Ek Mukta', sans-serif;
  font-size: 16px;
  padding: 5px;
  padding-bottom: 60px;
  background: #f3e3c6;
  background-size: 100% 100%;
}

/* line 36, ../sass/_base.scss */
nav.navbar-inverse {
  background-color: #002456;
  border-radius: 0;
  margin-bottom: 0;
}

/* line 42, ../sass/_base.scss */
.ajax-loading {
  display: block;
  width: 100%;
  background-color: rgba(42, 42, 42, 0.4);
  position: fixed;
  text-align: center;
  left: 0;
  top: 50%;
  z-index: 10;
  display: none;
}
/* line 51, ../sass/_base.scss */
.ajax-loading img {
  display: block;
  margin: 0 auto;
}

/* line 58, ../sass/_base.scss */
#abort-request-span {
  display: none;
  margin: 5px 0;
  color: #fff;
}

/* line 68, ../sass/_base.scss */
.navbar img {
  float: left;
  padding: 5px;
  height: 50px;
}
/* line 73, ../sass/_base.scss */
.navbar .navbar-header > a.navbar-brand {
  color: #ddd !important;
}
/* line 75, ../sass/_base.scss */
.navbar .navbar-header > a.navbar-brand:hover {
  color: #fff !important;
}
/* line 79, ../sass/_base.scss */
.navbar .navbar-nav > li > a {
  color: #ddd !important;
}
/* line 81, ../sass/_base.scss */
.navbar .navbar-nav > li > a:hover {
  color: #fff !important;
}

/* line 90, ../sass/_base.scss */
ul.nav-tabs {
  border-bottom: 1px solid #002456;
}
/* line 93, ../sass/_base.scss */
ul.nav-tabs li a {
  color: #002456;
}
/* line 95, ../sass/_base.scss */
ul.nav-tabs li a:hover {
  color: #002456;
  background-color: #fff;
}
/* line 104, ../sass/_base.scss */
ul.nav-tabs li.active a:link, ul.nav-tabs li.active a:visited, ul.nav-tabs li.active a:active, ul.nav-tabs li.active a:focus {
  background-color: #002456;
  color: #f3e3c6;
}

/* line 113, ../sass/_base.scss */
.canvas-wrapper {
  position: relative;
  width: 100%;
  float: left;
}

/* line 119, ../sass/_base.scss */
.sensor-labels {
  width: 100%;
  float: left;
}

/* line 126, ../sass/_base.scss */
.canvas-wrapper:before {
  content: "";
  display: block;
  padding-top: 100%;
}

/* line 132, ../sass/_base.scss */
.canvas-inner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f3e3c6;
}

/* line 141, ../sass/_base.scss */
.canvas-labels {
  overflow: visible;
}

/* line 145, ../sass/_base.scss */
canvas {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
}

/* line 151, ../sass/_base.scss */
.red {
  background-color: red;
}

/* line 155, ../sass/_base.scss */
.row.timeline-jumbo {
  margin-bottom: 20px;
  padding: 5px !important;
  text-align: center;
  background-color: #002456;
}

/* line 166, ../sass/_base.scss */
.timeline-canvas-wrapper {
  position: relative;
  width: 98%;
}

/* line 171, ../sass/_base.scss */
.timeline-canvas-scale {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 25px;
  background-color: rgba(255, 255, 255, 0);
}

/* line 180, ../sass/_base.scss */
.timeline-canvas-scale-vertical {
  position: relative;
  float: right;
  display: block;
  height: 160px;
  width: 1.4%;
  background-color: rgba(255, 255, 255, 0);
}

/* line 189, ../sass/_base.scss */
.timeline-canvas {
  width: 100%;
  max-height: 160px;
}

/* line 194, ../sass/_base.scss */
.colormap-canvas {
  padding-right: auto;
  width: 250px;
  max-width: 100%;
  height: 20px;
}

/* line 201, ../sass/_base.scss */
.ui-tooltip {
  max-width: 300px;
  padding: 10px;
}

/* line 210, ../sass/_base.scss */
.colormap-canvas-wrapper {
  width: 100%;
  padding: 0;
  max-height: 23px;
}

/* line 216, ../sass/_base.scss */
.colormap-white-bckg-wrapper {
  margin-top: 5px;
}

/* line 221, ../sass/_base.scss */
.sensor-header {
  text-align: left;
  color: #002456;
}

/* line 226, ../sass/_base.scss */
.sensor-colormap-histogram {
  margin: 0;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 15px;
  display: flex;
  float: left;
  clear: both;
}

/* line 237, ../sass/_base.scss */
.sensor-scale-histogram {
  clear: both;
  position: relative;
  float: left;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 10px;
  margin-bottom: 15px;
}

/* line 247, ../sass/_base.scss */
.scale-min-value {
  float: left;
}

/* line 251, ../sass/_base.scss */
.scale-max-value {
  float: right;
}

/* line 255, ../sass/_base.scss */
.scale-mid-value {
  position: absolute;
  display: block;
  left: 50%;
}

/* line 261, ../sass/_base.scss */
.scale-quarter-value {
  position: absolute;
  display: block;
  left: 25%;
}

/* line 267, ../sass/_base.scss */
.timeline-controls {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* line 272, ../sass/_base.scss */
.timeline-slider-left-container {
  width: 50%;
  float: left;
}

/* line 277, ../sass/_base.scss */
.timeline-slider-right-container {
  width: 50%;
  height: 100%;
  float: right;
}

/* line 283, ../sass/_base.scss */
.timeline-slider {
  display: inline-block;
  position: absolute;
  margin: 0px 0px;
  top: 0;
  height: 160px;
  max-height: 100%;
  width: 6px;
  background: #aaa url("../../images/draggable-A.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: left top;
  z-index: 20;
}

/* line 298, ../sass/_base.scss */
.timeline-slider:hover {
  cursor: w-resize;
}

/* line 302, ../sass/_base.scss */
#timeline-slider-left {
  left: 0%;
}

/* line 306, ../sass/_base.scss */
#timeline-slider-right {
  left: 99.6%;
}

/* line 310, ../sass/_base.scss */
.form-group {
  padding: 5px 0;
}

/* line 314, ../sass/_base.scss */
.interval-size-wrapper {
  text-align: left;
}

@media (max-width: 1247px) {
  /* line 318, ../sass/_base.scss */
  .interval-size-form {
    width: 100%;
    display: block;
  }
}
/* line 325, ../sass/_base.scss */
.interval-size-form .form-group {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
}
@media (max-width: 1028px) {
  /* line 325, ../sass/_base.scss */
  .interval-size-form .form-group {
    width: 100%;
  }
}
@media (max-width: 1028px) {
  /* line 331, ../sass/_base.scss */
  .interval-size-form .form-group label {
    display: block;
  }
  /* line 334, ../sass/_base.scss */
  .interval-size-form .form-group .form-control {
    width: 85%;
  }
}
/* line 338, ../sass/_base.scss */
.interval-size-form .form-group .input {
  max-width: 70%;
  width: auto;
}
/* line 346, ../sass/_base.scss */
.interval-size-form .form-control, .interval-size-form label, .interval-size-form .form-label {
  display: inline-block;
  width: auto;
}
@media (max-width: 1540px) and (min-width: 1247px) {
  /* line 346, ../sass/_base.scss */
  .interval-size-form .form-control, .interval-size-form label, .interval-size-form .form-label {
    max-width: 170px;
  }
}
@media (max-width: 1247px) and (min-width: 1028px) {
  /* line 346, ../sass/_base.scss */
  .interval-size-form .form-control, .interval-size-form label, .interval-size-form .form-label {
    max-width: 150px;
  }
}

@media (max-width: 1540px) {
  /* line 359, ../sass/_base.scss */
  .timeline-controls-right {
    width: 100%;
    display: block;
  }
  /* line 363, ../sass/_base.scss */
  .timeline-controls-right .button-label {
    display: none;
  }
}
@media (max-width: 768px) {
  /* line 369, ../sass/_base.scss */
  .timeline-controls-right .control-button .glyphicon {
    font-size: 40px;
  }
}

/* line 376, ../sass/_base.scss */
.control-button {
  height: auto;
  padding: 0;
}
/* line 379, ../sass/_base.scss */
.control-button .glyphicon {
  font-size: 30px;
}

/* line 384, ../sass/_base.scss */
.control-button-left {
  float: left;
  padding: 0 25px;
}

/* line 388, ../sass/_base.scss */
.control-button-right {
  float: right;
  padding: 0 25px;
}

/* line 394, ../sass/_base.scss */
a.control-button:link, a.control-button:visited, a.control-button:active {
  color: #002456;
  text-decoration: none;
}
/* line 398, ../sass/_base.scss */
a.control-button:hover {
  color: #e57624;
  text-decoration: none;
}

/* line 405, ../sass/_base.scss */
.bottom-tab {
  margin-top: 20px;
}

/* line 409, ../sass/_base.scss */
.tab-pane {
  margin-top: 10px;
}
/* line 411, ../sass/_base.scss */
.tab-pane table {
  width: 100%;
  margin-bottom: 12px;
}
/* line 414, ../sass/_base.scss */
.tab-pane table th {
  text-align: center;
}
/* line 417, ../sass/_base.scss */
.tab-pane table td {
  width: 50%;
  text-align: center;
  padding: 7px;
}
/* line 418, ../sass/_base.scss */
.tab-pane table td.td-left {
  font-weight: 700;
}
/* line 424, ../sass/_base.scss */
.tab-pane table td a {
  font-size: 18px;
  color: #002456;
}
/* line 426, ../sass/_base.scss */
.tab-pane table td a .glyphicon {
  font-size: 26px;
}
/* line 430, ../sass/_base.scss */
.tab-pane table td a:link, .tab-pane table td a:visited, .tab-pane table td a:active {
  color: #002456;
  text-decoration: none;
}
/* line 434, ../sass/_base.scss */
.tab-pane table td a:hover {
  color: #e57624;
  text-decoration: none;
}
/* line 439, ../sass/_base.scss */
.tab-pane table td input {
  max-width: 6em;
  text-align: center;
  color: #002456;
  background-color: #f3e3c6;
  max-width: 160px;
}
/* line 445, ../sass/_base.scss */
.tab-pane table td input#animation-input {
  max-width: 80px;
}
/* line 448, ../sass/_base.scss */
.tab-pane table td input.filter-input-wide {
  min-width: 50%;
  max-width: 420px;
}
/* line 454, ../sass/_base.scss */
.tab-pane table tr {
  border-bottom: 1px solid #002456;
}

/* line 461, ../sass/_base.scss */
.control-tab a {
  color: #002456;
}

/* line 467, ../sass/_base.scss */
.timeline-controls-bottom {
  float: right;
  margin-right: 15px;
}

/* line 472, ../sass/_base.scss */
.temp-canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
}

/* line 480, ../sass/_base.scss */
.ui-tooltip {
  background-color: #ffffff;
  position: absolute;
  padding: 5px 10px;
  color: white;
  border-radius: 20px;
  font: 11px "Helvetica Neue", Sans-Serif;
  box-shadow: 0 0 7px black;
  white-space: pre;
  max-width: none;
}

/* line 493, ../sass/_base.scss */
.tool-selected {
  background-color: rgba(255, 255, 255, 0.3);
}

/* line 497, ../sass/_base.scss */
#zooming-row, #masking-row {
  cursor: pointer;
}

/* line 502, ../sass/_base.scss */
.histogram-container ul {
  margin-top: 1px;
}
/* line 505, ../sass/_base.scss */
.histogram-container h4 {
  margin-bottom: 7px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
}

/* line 513, ../sass/_base.scss */
#histograms-row {
  margin-top: 15px;
}

/* line 517, ../sass/_base.scss */
.index-link {
  font-size: 13px !important;
}

/* line 525, ../sass/_base.scss */
#statistics input {
  max-width: 6em;
  text-align: center;
  color: #002456;
  background-color: #f3e3c6;
}

/* line 533, ../sass/_base.scss */
.sensor-small-link {
  float: right;
  color: #002456;
  margin-right: 5px;
}
/* line 536, ../sass/_base.scss */
.sensor-small-link:hover {
  color: #e57624;
  text-decoration: none;
}

/* line 544, ../sass/_base.scss */
.active-link {
  color: #e57624 !important;
}

/* line 548, ../sass/_base.scss */
.progress {
  margin-top: 20px;
  visibility: hidden;
}

/* line 553, ../sass/_base.scss */
#files {
  text-align: center;
}
/* line 554, ../sass/_base.scss */
#files table {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 558, ../sass/_base.scss */
#files table td {
  padding: 5px;
  max-width: 50%;
  color: #002456;
}

/* line 567, ../sass/_base.scss */
.upload-files {
  max-width: 700px;
}
/* line 569, ../sass/_base.scss */
.upload-files .left {
  max-width: 350px;
  height: auto;
  word-break: break-all;
  word-wrap: break-word;
}
/* line 575, ../sass/_base.scss */
.upload-files .row {
  padding: 5px 0;
  border-bottom: 1px dotted #002456;
}

/* line 581, ../sass/_base.scss */
.panel-body {
  background-color: #f3e3c6;
  max-height: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
  word-break: break-all;
  word-wrap: break-word;
}
