@import "compass/reset";

@import url(https://fonts.googleapis.com/css?family=Ek+Mukta);


body, html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

footer{
  padding-top: 170px;
  min-height: 200px;
  background-color: $primary-color;
  color: $bg-primary-color;
  text-align: center;
}


.content{
    text-align: center;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    color: $primary-color;
    font-family: 'Ek Mukta', sans-serif;
    font-size: 16px;
    padding: 5px;
    padding-bottom: 60px;
    background: $bg-primary-color;//url("../../images/blurred.png");
    background-size: 100% 100%;
}

nav.navbar-inverse{
  background-color: $nav-bg-color;
  border-radius: 0;
  margin-bottom: 0;
}

.ajax-loading{
  display: block;
  width: 100%;
  background-color: rgba(42,42,42,0.4);
  position: fixed;
  text-align: center;
  left: 0;
  top: 50%;
  z-index: 10;
  img{
    display: block;
    margin: 0 auto;
  }
  display: none;
}

#abort-request-span{
  display: none;
  margin: 5px 0;
  color: #fff;
}

.navbar {
  a{

  }
  img{
    float: left;
    padding: 5px;
    height: 50px;
  }
  .navbar-header>a.navbar-brand{
    color: $nav-color!important;
    &:hover{
      color: $bg-secondary-color!important;
    }
  }
  .navbar-nav>li>a{
    color: $nav-color!important;
    &:hover{
      color: $bg-secondary-color!important;
    }
  }
  // .navbar-nav>li.active>a{
  //   background-color: $primary-color!important;
  // }
}

ul.nav-tabs{
  border-bottom: 1px solid $primary-color;
  li{
    a{
      color: $primary-color;
      &:hover{
        color: $nav-bg-color;
        background-color: $bg-secondary-color;
      }
    }

  }
  li.active{
    a{
      &:link, &:visited, &:active, &:focus{
        background-color: $secondary-color;
        color: $bg-primary-color;
      }
    }
  }
}


.canvas-wrapper{
  position: relative;
  width: 100%;
  float: left;
}

.sensor-labels{
  width: 100%;
  float: left;
}



.canvas-wrapper:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.canvas-inner-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $bg-primary-color;
}

.canvas-labels{
  overflow: visible;
}

canvas{
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  height: 100%;
}

.red{
  background-color: red;
}

.row.timeline-jumbo{
  margin-bottom: 20px;
  padding: 5px!important;
  text-align: center;
  background-color: $timeline-color;
}

.single-timeline-controls{

}

.timeline-canvas-wrapper{
  position:relative;
  width: 98%;
}

.timeline-canvas-scale{
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 25px;
  background-color: rgba(255,255,255,0);
}

.timeline-canvas-scale-vertical{
  position: relative;
  float: right;
  display: block;
  height: 160px;
  width: 1.4%;
  background-color: rgba(255,255,255,0);
}

.timeline-canvas{
  width: 100%;
  max-height: 160px;
}

.colormap-canvas{
  padding-right: auto;
  width: 250px;
  max-width: 100%;
  height: 20px;
}

.ui-tooltip{
  max-width: 300px;
  padding: 10px;
}

.tools-col{

}

.colormap-canvas-wrapper{
  width: 100%;
  padding: 0;
  max-height: 23px;
}

.colormap-white-bckg-wrapper{
  margin-top: 5px;
}


.sensor-header{
  text-align: left;
  color: $primary-color;
}

.sensor-colormap-histogram{
  margin: 0;
  margin-top: 5px;
  background-color: rgba(255,255,255,0);
  width: 100%;
  height: 15px;
  display: flex;
  float: left;
  clear: both;
}

.sensor-scale-histogram{
  clear: both;
  position: relative;
  float: left;
  background-color: rgba(255,255,255,0.0);
  width: 100%;
  height: 10px;
  margin-bottom: 15px
}

.scale-min-value{
  float:left;
}

.scale-max-value{
  float: right;
}

.scale-mid-value{
  position: absolute;
  display:block;
  left: 50%;
}

.scale-quarter-value{
  position: absolute;
  display: block;
  left: 25%;
}

.timeline-controls{
  margin-top: 10px;
  margin-bottom: 5px;
}

.timeline-slider-left-container{
  width: 50%;
  float: left;
}

.timeline-slider-right-container{
  width: 50%;
  height: 100%;
  float: right;
}

.timeline-slider{
  display: inline-block;
  position: absolute;
  margin: 0px 0px;
  top: 0;
  height: 160px;
  max-height: 100%;
  width: 6px;
  background: #aaa url("../../images/draggable-A.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: left top;
  z-index: 20;

}
.timeline-slider:hover{
  cursor: w-resize;
}

#timeline-slider-left{
  left: 0%;
}

#timeline-slider-right{
  left: 99.6%;
}

.form-group{
    padding: 5px 0;
  }

.interval-size-wrapper{
  text-align: left;
}

.interval-size-form{

  @media(max-width: 1247px){
    width: 100%;
    display: block;
  }

  .form-group{

    @media (max-width: 1028px){
      width: 100%;
    }
    @media (max-width: 1028px){
      label{
        display: block;
      }
      .form-control{
        width: 85%;
      }
    }
    .input{
      max-width: 70%;
      width: auto;
    }
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
  }
  .form-control, label, .form-label{
    display: inline-block;
    width: auto;
    @media (max-width: 1540px) and (min-width: 1247px){
      max-width: 170px;
    }
    @media (max-width: 1247px) and (min-width: 1028px){
      max-width: 150px;
    }
  }
}


.timeline-controls-right{
    @media(max-width: 1540px){
      width: 100%;
      display: block;
      .button-label{
        display: none;
      }
  }
  @media(max-width: 768px){
    .control-button{
      .glyphicon{
        font-size: 40px;
      }
    }
  }
}

.control-button{
  height: auto;
  padding: 0;
  .glyphicon{
    font-size: 30px;
  }
}

  .control-button-left{
    float: left;
    padding: 0 25px;
  }
  .control-button-right{
    float: right;
    padding: 0 25px;
  }

a.control-button{
  &:link, &:visited, &:active{
    color: $primary-color;
    text-decoration: none;
  }
  &:hover{
    color: $buttons-color;
    text-decoration: none;
  }
}


.bottom-tab{
  margin-top: 20px;
}

.tab-pane{
  margin-top: 10px;
  table {
    width: 100%;
    margin-bottom: 12px;
    th{
      text-align: center;
    }
    td{
      &.td-left{
        font-weight: 700;
      }
      width: 50%;
      text-align: center;
      padding: 7px;
      a{
        font-size: 18px;
        .glyphicon{
          font-size: 26px;
        }
        color: $primary-color;
        &:link, &:visited, &:active{
          color: $primary-color;
          text-decoration: none;
        }
        &:hover{
          color: $buttons-color;
          text-decoration: none;
        }
      }
      input{
        max-width: 6em;
        text-align: center;
        color: $primary-color;
        background-color: $bg-primary-color;
        max-width: 160px;
        &#animation-input{
          max-width: 80px;
        }
        &.filter-input-wide{
          min-width: 50%;
          max-width: 420px;
        }
      }
    }
    tr{
      border-bottom: 1px solid $primary-color;
    }
  }
}

.control-tab{
  a{
    color: $primary-color;
  }

}

.timeline-controls-bottom{
  float: right;
  margin-right: 15px;
}

.temp-canvas{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(255,255,255,0);
}

.ui-tooltip {
  background-color: #ffffff;
  position: absolute;
  padding: 5px 10px;
  color: white;
  border-radius: 20px;
  font: 11px "Helvetica Neue", Sans-Serif;
  box-shadow: 0 0 7px black;
  white-space: pre;
  max-width: none;
}


.tool-selected{
  background-color: rgba(255,255,255,0.3);
}

#zooming-row, #masking-row{
  cursor: pointer;
}

.histogram-container{
  ul{
    margin-top: 1px;
  }
  h4{
    margin-bottom: 7px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
  }
}

#histograms-row{
  margin-top: 15px;
}

.index-link{
  font-size: 13px!important;
}




#statistics{
  input{
    max-width: 6em;
    text-align: center;
    color: $primary-color;
    background-color: $bg-primary-color;
  }
}

.sensor-small-link{
  float: right;
  color: $primary-color;
  &:hover{
    color: $buttons-color;
    text-decoration: none;
  }
  margin-right: 5px;
}


.active-link{
  color: $buttons-color!important;
}

.progress{
  margin-top: 20px;
  visibility: hidden;
}

#files{
  table{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    td{
      padding: 5px;
      max-width: 50%;
      color: $primary-color;
    }
  }
  text-align: center;
}

.upload-files{
  max-width: 700px;
  .left{
    max-width: 350px;
    height: auto;
    word-break: break-all;
    word-wrap: break-word;
  }
  .row{
    padding: 5px 0;
    border-bottom: 1px dotted $primary-color;
  }
}

.panel-body{
  background-color: $bg-primary-color;
  max-height: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
  word-break: break-all;
  word-wrap: break-word;
}

