$primary-color: #002456;
$bg-primary-color: #f3e3c6;
$nav-bg-color: #002456;
$nav-color: #ddd;
$bg-secondary-color: #fff;
$timeline-color: #002456;
$secondary-color: #002456;
$buttons-color: #e57624;


@import "mixins";
@import "base";
@import "header";
@import "footer";