$primary-color: #dddddd;
$nav-bg-color: #111;
$nav-color: #dddddd;
$bg-primary-color: #444;
$bg-secondary-color: #fff;
$timeline-color: #6f84af;
$secondary-color: #6f84af;
$buttons-color: #6f84af;


@import "mixins";
@import "base";
@import "header";
@import "footer";