$primary-color: #333;
$nav-bg-color: #333;
$nav-color: #f5f5f5;
$bg-primary-color: #f5f5f5;
$bg-secondary-color: #ffffff;
$timeline-color: #3f548f;
$secondary-color: #3f548f;
$buttons-color: #f68735;


@import "mixins";
@import "base";
@import "header";
@import "footer";

