$primary-color: #0000dd;
$bg-primary-color: #fff;
$nav-bg-color: #0000dd;
$nav-color: #fff;
$bg-secondary-color: #fff;
$timeline-color: #00d;
$secondary-color: #0000dd;
$buttons-color: #ff0000;


@import "mixins";
@import "base";
@import "header";
@import "footer";