html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    // COMPASS SASS STYLES
    link#css-style(href='/stylesheets/css/default.css', media='screen, projection', rel='stylesheet', type='text/css')
    // END OF COMPASS
    // Bootstrap - Latest compiled and minified CSS
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    // jQuery library
    script(src='/javascripts/jquery-1.12.2.min.js')
    // Bootstrap - Latest compiled JavaScript
    script(src='/bootstrap/js/bootstrap.min.js')
    // jQueryUI
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css')
    script(type='text/javascript', src='/jquery-ui-1.11.4/jquery-ui.min.js')
    title
  body
    .ajax-loading
      img(src='/images/ajax_loader.gif', height='70px', width='70px')
    nav.navbar.navbar-inverse
      .container-fluid
        a(href='http://www.utef.cvut.cz/ieap')
          img(src='/images/logo_ieap.png')
        a(href='https://www.cvut.cz/')
          img(src='/images/logo_ctu.png')
        a(href='#')
          img(src='/images/logo_tpx3.png')
        .navbar-header
          a.navbar-brand(href='/') TIMEPIX3 Data Visualization
        div
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li.active
              a(href='/about') About project
            li
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | Color theme
                span.caret
              ul#color-themes.dropdown-menu
                li
                  a.theme-select(href='#', filename='default')
                    input#default-check.select-check(type='radio', checked='checked')
                    |  Default theme
                li
                  a.theme-select(href='#', filename='dark_theme')
                    input#dark_theme-check.select-check(type='radio')
                    |  Dark theme
                li
                  a.theme-select(href='#', filename='creme_theme')
                    input#creme_theme-check.select-check(type='radio')
                    |  Creme theme
            li
              a#link-current(href='/asciifiles/upload') Upload source file
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#')
                span.glyphicon.glyphicon-log-in
                |  Login
    .content
      .container-fluid
      h1 About the TPX3 Visualization project
      h2 Changelog
      ol
        li
          p 22.11.2016 17:00 Fixed bug with extremely low values not showing up in white background colormap
        li
          p 22.11.2016 16:00 Added support for LEFT and RIGHT arrow keys to navigate the timeline and UP and DOWN arrow keys to set color intensity of histograms
        li
          p 22.11.2016 15:00 Added option to cancel request, which is taking too long
        li
          p 22.11.2016 15:00 Signigicantly improved performance(better distribution to threads/cores for handling more simultaneous users)
        li
          p 20.11.2016 18:53 Added basic http authentication
        li
          p 18.11.2016 15:20 Added support for specifying units in all the inputs in the visualization
  footer Copyright © 2016 Jiri Vycpalek & IEAP CTU, Prague
